/* Основные стили */
html, body {
    background-color: #000; /* Черный фон */
    color: #fff; /* Белый текст */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Использование Segoe UI */
    margin: 0;
    padding: 10px 0; /* Уменьшаем отступы сверху и снизу */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; /* Отключение горизонтальной прокрутки */
}

nav {
    width: 100%;
    margin-bottom: 10px; /* Добавляем отступ снизу */
    padding-top: 0px; /* Убираем отступ сверху */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 0px; /* Убираем отступ сверху для навигации */
    flex-direction: column;
    align-items: center; /* Центрируем элементы в мобильной версии */
}

nav ul li {
    margin: 5px 0; /* Добавляем отступы для элементов списка */
}

nav ul li a {
    color: #fff; /* Белый цвет текста */
    text-decoration: none;
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    margin-top: 0px; /* Убираем отступ сверху */
}

.header-img-container {
    width: 100%;
    margin-top: 10px; /* Уменьшаем отступ для шапки ниже кнопок навигации */
}

.header-img {
    width: 100%;
    height: auto;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.game-header {
    display: flex;
    flex-direction: column; /* Изменяем направление на колонку */
    align-items: center; /* Центрируем элементы */
    text-align: center;
    width: 100%;
    max-width: 1200px; /* Ограничиваем максимальную ширину */
}

.game-logo {
    max-width: 200px;
    margin-bottom: 10px; /* Добавляем отступ снизу */
    border-radius: 10px; /* Скругление углов */
    overflow: hidden; /* Убедитесь, что содержимое логотипа не выходит за границы */
}

.game-title {
    flex: 1;
}

.game-title h1 {
    margin: 0;
    font-size: 1.5em; /* Уменьшаем размер заголовка */
    color: #fff; /* Белый цвет заголовка */
}

.btn-download {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff; /* Белый цвет фона кнопки */
    color: #000; /* Черный цвет текста кнопки */
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1em; /* Уменьшаем размер текста кнопки */
}

.game-description {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px; /* Уменьшаем padding */
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 1200px; /* Ограничиваем максимальную ширину */
    text-align: left; /* Выравнивание текста по левому краю */
    width: 100%; /* Растягиваем на всю ширину */
}

.game-description h3 {
    color: #fff; /* Белый цвет заголовка */
}

.game-description p {
    margin: 10px 0;
    color: #fff; /* Белый цвет текста */
}

.screenshots {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px; /* Уменьшаем padding */
    border-radius: 10px;
    margin-top: 20px;
    max-width: 1200px; /* Ограничиваем максимальную ширину */
    width: 100%; /* Растягиваем на всю ширину */
}

.screenshots h2 {
    color: #fff; /* Белый цвет заголовка */
    margin-bottom: 10px;
}

.screenshot {
    max-width: 100%;
    margin: 5px 0; /* Уменьшаем отступ */
    border-radius: 10px;
    cursor: pointer;
}

footer {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
    color: #fff; /* Белый цвет текста */
    margin-top: 20px;
    width: 100%;
    position: fixed; /* Зафиксировать внизу экрана */
    bottom: 0;
    left: 0;
}
